## Push Data from Excel to Google Spreadsheet

In [1]:
#importing required packages
import pandas as pd
from datetime import date

In [2]:
#load the excel file into pandas dataframe
df = pd.read_excel("C:\\Users\\Admin\\Desktop\\sample.xlsx",sheet_name='sample1')
#view dataframe
df

   LeadId  PhoneNumber Name DateOfBirth
0       1   1111111111    A  2001-01-01
1       2   2222222222    B  2002-01-01
2       3   3333333333    C  2003-01-01
3       4   4444444444    D  2004-01-01
4       5   5555555555    E  2005-01-01
5       6   6666666666    F  2006-01-01
6       7   7777777777    G  2007-01-01
7       8   8888888888    H  2008-01-01
8       9   9999999999    I  2009-01-01
9      10   1010101010    J  2010-01-01

In [3]:
#obtain information on dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   LeadId       10 non-null     int64
 1   PhoneNumber  10 non-null     int64
 2   Name         10 non-null     object
 3   DateOfBirth  10 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 448.0+ bytes

In [4]:
#convert dob column to string type
df['DateOfBirth']=df['DateOfBirth'].astype(str)

#add a new column with today's date
df['date updated'] = date.today()
#convert this column to string type
df['date updated']=df['date updated'].astype(str)

!pip3 install gspread<br>
!pip3 install --upgrade google-api-python-client oauth2client

In [5]:
#importing libraries for google spreadsheets
import gspread
from oauth2client.service_account import ServiceAccountCredentials

In [6]:
#define the scope
scope = ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']

#add credentials to the account
creds = ServiceAccountCredentials.from_json_keyfile_name('pure-harbor-316211-28a625424471.json', scope)

#authorize the clientsheet 
client = gspread.authorize(creds)

In [7]:
#get the instance of the Spreadsheet
sheet = client.open('MySpreadsheet')

In [8]:
#get the instance of the worksheet sheet
sheet_get = sheet.get_worksheet(0)

In [9]:
#insert values to the spreadsheet
sheet_get.insert_rows(df.values.tolist())

{'spreadsheetId': '1AsvViUzEsMATwCuxS1HPkboOFiup95r6oKyJv2tkhpg',
 'updates': {'spreadsheetId': '1AsvViUzEsMATwCuxS1HPkboOFiup95r6oKyJv2tkhpg',
  'updatedRange': 'Sheet1!A1:E10',
  'updatedRows': 10,
  'updatedColumns': 5,
  'updatedCells': 50}}